@model WarLib.WarSetup
<div>
<div id="enemy-area-war">
    <p class="left-align-text">
        @if(Model.Player2CardsCount >= 40)
        {
            <span class="win-warning">Computer's hand size: @Model.Player2CardsCount</span>
        }
        else if (Model.Player2CardsCount <= 10)
        {
            <span class="lose-warning">Computer's hand size: @Model.Player2CardsCount</span>
        }
        else
        {
            <span>Computer's hand size: @Model.Player2CardsCount</span>
        }
    </p>
    <p class="left-align-text">The computer played: </p>
    @for (int i = 0; i < Model.Player2StoredCards.Count; i++)
    {
        CardsLib.Card card = Model.Player2StoredCards[i];
        <!--<p>@card.FullName</p>-->
        <img class="small-card" style="z-index:@(i+3); margin-top: @(i == 0 ? i : (-200+(i+20)))px" src="~/Content/Images/Cards/@(
            card.FaceUp == true
            ? (card.ValueInt > 10 ? $"{card.Value}_of_{card.Suit}.svg" : $"{card.ValueInt}_of_{card.Suit}.svg")
            : "card_back.png")" />
    }
</div>
<div id="player-area-war">
    <p class="right-align-text">
        @if (Model.Player1CardsCount >= 40)
        {
            <span class="win-warning">Your hand size: @Model.Player1CardsCount</span>
        }
        else if (Model.Player1CardsCount <= 10)
        {
            <span class="lose-warning">Your hand size: @Model.Player1CardsCount</span>
        }
        else
        {
            <span>Your hand size: @Model.Player1CardsCount</span>
        }
    </p>
    <p class="right-align-text">You played: </p>
    @for (int i = 0; i < Model.Player1StoredCards.Count; i++)
    {
        CardsLib.Card card = Model.Player1StoredCards[i];
        <!--<p>@card.FullName</p>-->
        <img class="small-card" style="z-index:@(i+3); margin-top: @(i == 0 ? i : (-200+(i+20)))px" src="~/Content/Images/Cards/@(
            card.FaceUp == true
            ? (card.ValueInt > 10 ? $"{card.Value}_of_{card.Suit}.svg" : $"{card.ValueInt}_of_{card.Suit}.svg")
            : "card_back.png")" />
    }
</div>
</div>
